<div class="review-submit" data-bind="visible: boxConfigurationsIsSuccess">
    <h2><!-- ko i18n: 'Review & Submit' --><!-- /ko --></h2>
    <p><!-- ko i18n: 'Please review the box configurations before submitting.' --><!-- /ko --></p>

    <form data-bind="submit: handleSubmit">
        <table>
            <thead>
                <tr>
                    <th data-bind="i18n: 'Number of boxes'"></th>
                    <th data-bind="i18n: 'Shipment weight'"></th>
                    <th data-bind="i18n: 'Billable weight'"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span data-bind="text: numberOfBoxes"></span>
                    </td>
                    <td>
                        <span data-bind="text: shipmentWeight"></span>
                        <!-- ko i18n: 'lb.' --><!-- /ko -->
                    </td>
                    <td>
                        <span data-bind="text: billableWeight"></span>
                        <!-- ko i18n: 'lb.' --><!-- /ko -->
                    </td>
                </tr>
            </tbody>
            <tfooter>
                <tr>
                    <td colspan="2">
                        <label for="terms_checked">
                            <input type="checkbox" id="terms_checked" data-bind="checked: isTermsChecked" />
                            <!-- ko i18n: 'I agree to the Terms & Conditions.' --><!-- /ko -->
                        </label>
                    </td>
                    <td>
                        <button type="submit" class="action primary" data-bind="enable: canSubmit()"><!-- ko i18n: 'Accept shipping plan' --><!-- /ko --></button>
                    </td>
                </tr>
            </tfooter>
        </table>
    </form>
</div>
